title {
    color: black;
    font-family: 'Franklin Gothic Medium';
}

body {
    color: blue;
    font-family: 'Franklin Gothic Medium';
    text-align: center
}

.banner {
    color: white;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: black;
    background-color: rgb(16, 85, 97);
    border-style: solid;
    border-width: 5px;
    border-color: brown;
}

a:hover {
    background: yellow;
}

.banner:hover {
    background: orange;
}