.card {
    max-width: 190px;
    max-height: 250px;
}

.card-body {
    background-color: blue;
    overflow: hidden;
}

.card-img-top img {
    max-height: 133.69;
}

.title {
    color: black;
    font-family: 'Franklin Gothic Medium';
}


/* .body {
    color: blue;
    font-family: 'Franklin Gothic Medium';
    text-align: center
} */

body {
    background: url(https://2.bp.blogspot.com/-WFswCvfxqXk/W5gQqfAaISI/AAAAAAAAMUA/2rck7Sdds40raNevIYxITvrnNkLffN91gCK4BGAYYCw/s0/4d1442bd6c1ab961e1fdb99498c10bfc%2B%25281%2529.jpg)
}

.site-header {
    color: rgb(230, 238, 119);
    text-align: center;
    text-decoration: underline;
    text-shadow: 1px 0 5px;
    text-decoration-color: black;
    background-color: rgb(16, 85, 97);
    border-style: solid;
    border-width: 5px;
    border-color: brown;
    font-size: 100%;
    margin: 0px;
    padding: 2em;
    padding-bottom: 4%;
    font-style: italic;
    letter-spacing: 2px;
    position: relative;
}

a:hover {
    background: yellow;
    color: blue;
}

.site-header:hover {
    background: linear-gradient(to bottom, rgba(255, 255, 0, 0.5), rgba(0, 0, 255, 0.5));
    color: blue;
}

h1 {
    height: 100%;
    width: 100%;
    margin: 0px;
    font-family: fantasy;
}

.container {
    border: .5em;
    border-color: #d6d62a #1982c4 #c41960;
    border-style: solid;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    /* background-color: rgb(32, 175, 218); */
    background-image: linear-gradient(to top, rgba(255, 255, 0, 0.5), rgba(0, 0, 255, 0.5)), url("img/news.jpg");
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
    /* display: inline-flex; */
    /* justify-content: space-between; */
    /* box-sizing: border-box; */
}

.container li {
    padding: 5em;
    padding-top: .5em;
    border: solid black;
    max-width: 190px;
    max-height: 190px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    float: right;
    margin-left: 2em;
}

.card-item {
    padding: 2em;
}

a {
    top: 0px;
    position: relative;
    text-align: center;
}

.scrollButton {
    /* position: absolute; */
    /* top: 0; */
    bottom: 0;
    width: 3em;
}

.leftScroll {
    left: 0;
}


/* .linkDisplay {
    position: relative;
    top: 0%;
} */

li {
    display: inline-flex;
}

li p {
    text-align: justify;
    color: rgba(0, 0, 255, 0.5);
}

.site-nav-list {
    border-top: solid black;
}

.footer-display {
    color: white;
    background-color: black;
    /* display: inline-flex; */
    padding: 4em;
}

.footer-links {
    background-color: darkgoldenrod;
    padding: .5em;
    text-align: center;
}

.footer-links li {
    margin: 15px;
}


/* Image styling section */

.imgPos {
    position: relative;
    top: 75px;
}

img {
    opacity: .5;
}

#euroImage {
    background-image: url("img/euFlag.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#euroImage a {
    color: black;
}

#asianImage {
    background-image: url("img/dragon.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#midEastImage {
    background-image: url("img/midEast.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#africaImage {
    background-image: url("img/africa.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#usaImage {
    background-image: url("img/usa.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#ausImage {
    background-image: url("img/aus.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}


/* media query */

@media only screen and (max-device-width:768px) {
    /* newslinks magnify in tablet screens and smaller on hover  */
    .card-container:hover {
        max-width: 350px;
        max-height: 350px;
    }
    li {
        display: flex;
        flex-direction: column;
    }
}