.title {
    color: black;
    font-family: 'Franklin Gothic Medium';
}

.body {
    color: blue;
    font-family: 'Franklin Gothic Medium';
    text-align: center
}

.site-header {
    color: rgb(230, 238, 119);
    text-align: center;
    text-decoration: underline;
    text-shadow: 1px 0 5px;
    text-decoration-color: black;
    background-color: rgb(16, 85, 97);
    border-style: solid;
    border-width: 5px;
    border-color: brown;
    font-size: 100%;
    margin: 0px;
    padding: 2em;
    padding-bottom: 4%;
    font-style: italic;
    letter-spacing: 2px;
}

a:hover {
    background: yellow;
    color: blue;
}

.site-header:hover {
    background: linear-gradient(to bottom, rgba(255, 255, 0, 0.5), rgba(0, 0, 255, 0.5));
    color: blue;
}

h1 {
    height: 100%;
    width: 100%;
    margin: 0px;
    font-family: fantasy;
}

.container {
    border: .5em;
    border-color: black;
    border-style: solid;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: rgb(32, 175, 218);
    background-image: linear-gradient(to top, rgba(255, 255, 0, 0.5), rgba(0, 0, 255, 0.5)), url("img/news.jpg");
    display: grid;
}

.container li {
    padding: 5em;
    padding-top: .5em;
    /* padding-bottom: 10em; */
    border: solid black;
    max-width: 190px;
    max-height: 190px;
    box-sizing: border-box;
    /* flex-grow: 1; */
    /* flex-direction: row; */
    /* display: grid;
    grid-template-rows: auto; */
    overflow: hidden;
    text-align: center;
}

a {
    top: 0px;
    position: relative;
}


/* .linkDisplay {
    position: relative;
    top: 0%;
} */

li {
    display: inline-flex;
}

.site-nav-list {
    border-top: solid black;
}

.footer-display {
    color: white;
    background-color: black;
    /* display: inline-flex; */
    padding: 4em;
}

.footer-links {
    background-color: darkgoldenrod;
    padding: .5em;
    text-align: center;
}

.footer-links li {
    margin: 15px;
}


/* Image styling section */

.imgPos {
    position: relative;
    top: 75px;
}

#euroImage {
    background-image: url("img/euFlag.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#euroImage a {
    color: black;
}

#asianImage {
    background-image: url("img/dragon.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#midEastImage {
    background-image: url("img/midEast.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#africaImage {
    background-image: url("img/africa.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#usaImage {
    background-image: url("img/usa.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#ausImage {
    background-image: url("img/aus.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}